/* Responsive Image */
:root {
    --minimum-width: 300px;
    --ratio: 16/9;
}

.image-block .image-box img {
    background-color: #f0f0f0; /* To visualize empty space */
    aspect-ratio: var(--ratio);
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* Slider */
.carousel-wrap {
    margin: 0px auto;
    padding: 0 0%;
    width: 100%;
    position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 60%;
    color: #f1f1f1;
}

.owl-nav i {
    font-size: 18px;
}

.owl-nav .owl-prev {
    left: 51px;
}

.owl-nav .owl-next {
    right: 51px;
}

.owl-prev,
.owl-next {
    opacity: 1 !important;
}

.owl-prev,
.owl-next {
    width: 35px !important;
    height: 35px !important;
    line-height: 35px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Image Lazyload */
.blog-post-hr .blog-post .post-media .image-box .icon {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ffffff;
    color: #222222;
    font-size: 16px;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.blog-post-hr .blog-post .post-media .image-box .icon:hover {
    background-color: #579b00;
}

.blog-post-hr .blog-post .post-media .image-box .icon:hover {
    color: #ffffff;
}

/* Image Fancybox */
.owl-carousel .overlay-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.owl-carousel .image-box:hover .overlay-box {
    opacity: 1;
    visibility: visible;
}

.owl-carousel .option-box {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -25px;
    padding: 0px 10px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.owl-carousel .image-box:hover .option-box {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 300ms ease 100ms;
    -moz-transition: all 300ms ease 100ms;
    -ms-transition: all 300ms ease 100ms;
    -o-transition: all 300ms ease 100ms;
    transition: all 300ms ease 100ms;
}

.owl-carousel .option-box li {
    position: relative;
    display: inline-block;
    margin: 0 2px;
}

.owl-carousel .option-box li a {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #1a224c;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.owl-carousel .option-box li a:hover {
    color: #000000;
}
